.vue-diff-theme-dark {
    --vue-diff-bg: #1e1e1e;
    --vue-diff-fg: #d4d4d4;
    --vue-diff-gutter-bg: #252526;
    --vue-diff-gutter-fg: #858585;

    --vue-diff-added-bg: #1b4332;
    --vue-diff-removed-bg: #4a1c1c;
    --vue-diff-disabled-bg: #232323;
    --vue-diff-added-gutter-bg: #2d6a4f;
    --vue-diff-removed-gutter-bg: #7f1d1d;

    --vue-diff-added-word-bg: #2f5f45;
    --vue-diff-removed-word-bg: #6b2e2e;
}
