.vue-diff-theme-light {
    --vue-diff-bg: #fff;
    --vue-diff-fg: #24292f;
    --vue-diff-gutter-bg: #f6f8fa;
    --vue-diff-gutter-fg: #57606a;

    --vue-diff-added-bg: #e6ffec;
    --vue-diff-removed-bg: #ffebe9;
    --vue-diff-disabled-bg: #f6f8fa;
    --vue-diff-added-gutter-bg: #ccffd8;
    --vue-diff-removed-gutter-bg: #ffd7d5;

    --vue-diff-added-word-bg: #9be9a8;
    --vue-diff-removed-word-bg: #ffb4b0;
}
